.novofornecedor_container {
    padding: 1em;
    margin-top: 5em;
    background-color: #e3e3e382;
}

.novofornecedor_container h1 {
    margin-bottom: .5em;
}

.novofornecedor_container > p {
    color: #7b7b7b;
}

.movimentacao_container {
    border-top: 2px solid #000;
}

.movimentacao_container h1 {
    margin-top: .5em;
}