.produto_detail {
    padding: 2em;
}

.produto_detail h1,
.produto_detail p,
.produto_detail h2 {
    margin-bottom: .5em;
}

.produto_detail h1 {
    background-color: #333;
    color: #ffbb33;
    padding: .4em;
    border-radius: 2px;
}

.produto_detail span {
    font-weight: bolder;
}

.detail_container,
.movimentacao_container {
    border-bottom: 2px solid #7a7a7a;
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.produto_info {
    width: 100%;
}