.navbar_container {
    display: flex;
    justify-content: space-between;
    background-color: #333333f3;
    padding: 1em;
}

.navbar_container img {
    height: 75px;
    width: 75px;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
    
}

.item {
    margin-right: 1em;
}

.item a {
    color: #fff ;
    text-decoration: none;
    font-weight: bold;
}

.item a::after {
    content: "";
    display: block;
    height: 2px;
    background: #ffbb33;
    transition: width 0.3s;
    width: 0%;
}

.item a:hover::after {
    color: #ffbb33;
    width: 100%;
}

